.container {
    text-align: center;
    margin:auto;
    margin-top: 105px;
}

body {
    background-image: url("images/rainy.jpg");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}